@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;

    background: #f00;
}



main {
    position: relative;
    height: 100vh;

    background: url(../image/jpg-png/fundo-madeira.jpg) center center no-repeat;
    background-size: cover;
}

section#cell {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;

    background: url(../image/jpg-png/frame-iphone.png) center center no-repeat fixed;
    background-size: 250px;
}

iframe#tela {
    position: relative;
    top: 126px;
    left: 48px;

    height: 377px;
    width: 214px;
}

section#iconSocialNet {
    text-align: right;
}

section#iconSocialNet>a>img {
    width: 5vw;
    margin: 10px;

    border-radius: 50%;
    box-shadow: 2px 2px 6px #0000008e;
    box-sizing: border-box;
}

section#iconSocialNet>a>img:hover {
    box-shadow: 5px 5px 10px #0000008e;
    transform: translate(0%, -5%);
    transition: transform .25s;
}