@charset "UTF-8";

@font-face {
    font-family: 'PassionOne';
    src: url(../font/PassionOne-Bold.ttf) format(truetype);
}

@font-face {
    font-family: 'Sriracha';
    src: url(../font/Sriracha-Regular.ttf) format(truetype);
}


:root {
    --colorHeader: #000;
    --font-family-pattern: Verdana, Tahoma, sans-serif;
    --font-family-title: 'PassionOne';
    --font-family-text: 'Sriracha';
}


* {
    margin: 0%;
    padding: 0%;
}

p {
    font-family: var(--font-family-pattern);
}





#mainHeader {
    padding: 8vh;

    text-align: center;

    background-color: var(--colorHeader);
    color: #fff;
}

#mainHeader h1 {
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--font-family-title);
}

.external-links {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.container {
     
}

.content {
    display: inline-block;
}

.content p {
    padding-top: 2.5em;
    padding-left: 1.5em;
    line-height: 7vw;
    font-size: 3.5vw;
    font-family: var(--font-family-text);
    text-align: justify;
}

.content-img {
    position: relative;
    margin-top: 5.5em;
    height: 70vw;
    box-shadow: inset 5px 7px 25px #000;
}

#firstImg {
    width: 100%;
    object-fit: cover;
    background: url(../image/background001.jpg) right center no-repeat fixed;
    background-size: cover;

}

#secondImg {
    width: 100%;
    object-fit: cover;
    background: url(../image/background002.jpg) right center no-repeat fixed;
    background-size: cover;
}


.content-img p {
    position: absolute;
    padding: 10px;
    padding-left: 1.5vw;
    left: 1.5em;
    top: 10%;

    background-color: #00000083;
    color: #fff;

    line-height: 7vw;
    font-size: 3.5vw;
    font-family: var(--font-family-text);
    text-align: justify;
}

footer {
    margin-top: 5em;
    padding: 1.5vw;

    background-color: var(--colorHeader);
    color: #fff;

    text-align: center;
}